.box-thing { /* background of whatsapp in header */
	padding: 15px;
	border:4px double #728b78;
	background:#50705b ;
}

.green-button {
	background-color: #50705b; 
	color: #f7f3e7; 
	padding: 20px 20px; 
	border: none; 
	border-radius: 6px; 
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px; 
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer; 
}

.green-button:hover {
	background-color: #728b78; 
	color: #f7f3e7; 
}


.black-link {
	color: black
}

.black-link:hover{
	color: black;
	font-weight: bold;
}

.wrapper { max-width: 980px; }
#sidebar-b { width: 25%; }
#maininner { width: 75%; }
#menu .dropdown { width: 250px; }
#menu .columns2 { width: 500px; }
#menu .columns3 { width: 750px; }
#menu .columns4 { width: 1000px; }
/* Add styles for the responsive header and menu toggle */
#header-responsive {
    display: none; /* Initially hide the responsive header */
}
.rounded-image {
  border-radius: 6px;
}

.menu-toggle {
	border: 1px solid #728b78;
	background-color: #50705b;
	padding: 10px;
	margin: 10px;
	align-items: flex-end;
    display: none; /* Hide the toggle button by default */
    flex-direction: row;
    cursor: pointer;
	width: 30px;
	height: 100%;

}

.bar {
    height: 2px;
    width: 30px;
    background-color: #f7f3e7;
    margin: 4px 0;
    transition: 0.4s;
}

/* Styles for mobile view */
@media (max-width: 800px) {
    /* Ensure dropdowns span the full width of the screen */
    .menu-dropdown .dropdown {
        top: 0;
        border-top: none;
        width: 100%;
        position: absolute;
        left: 0;
    }

    /* Menu widths */
    #menu .dropdown { width: 100%; }
    #menu .columns2 { width: 100%; }
    #menu .columns3 { width: 100%; }
    #menu .columns4 { width: 100%; }
    
    #sidebar-b { width: 100%; }
    #maininner { width: 100%; }

    /* Header styling */
	
    #header-responsive {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: space-between; /* Ensure logo and menu toggle are on opposite ends */
        width: 100%;
        padding: 0px 0px; /* Adjust padding as needed */
        
        position: relative; /* Ensures menu is positioned absolutely within this container */
    }

    /* Menu toggle button styling */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        height: 3px;
        width: 25px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Menu styling */
    .menu-responsive {
        display: none;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 100%; /* Position below the header */
    	left: 20%;
        z-index: 800; /* Ensure it's below the toggle button */
		background-color: #50705b;
		border: 1px solid #728b78;
    }

    .menu-responsive.active {
        display: flex; /* Show menu when active class is added */
    }

	.menu-responsive span {
        display: flex; /* or another appropriate display property */
		flex-direction: row;
		width: 100%;
		right: 0;


	}

    /* Menu item styling */
    .menu-responsive a {
        color: #f7f3e7;
		background-color: #50705b;
        padding: 0px;
        text-align: left;
        display: block;
        font-size: 20px; /* Increase font size for mobile */
        text-decoration: none;
    }

  

	.menu-dropdown a.level2, .menu-dropdown span.level2 {
		background-color: #f7f3e7;
		color: #50705b;
		left: 70px;
		}
	.menu-dropdown,
	.menu-dropdown .level1,
	.menu-dropdown .level1 > span { float: none ; }
}



/*mobile menu stuff */



/* Ensures the body acts as a reference point for absolutely positioned elements */
body {
  margin: 0;
}

.mobilemenu {
  display: none;
  position: absolute; /* Use absolute position */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #50705b;
  overflow: hidden;
  z-index: 1000; /* Ensures it's above other content */
}

@media (max-width: 800px) {
  body {
    padding-top: 0; /* Reset on mobile to be dynamically set by JavaScript */
  }
  .mobilemenu {
      display: block;
  }
}

#nav-m {
  position: fixed; /* Ensure nav-m is positioned correctly within the absolute mobilemenu */
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Specify a height if needed */
  background: #50705b url(/images/majlis_bg_pattern.svg);
  background-repeat: repeat;
  background-size: 30%;
  background-position: top left;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
}

.menum-container {
  position: static;
  transform: translateX(0);
  transition: transform 0.1s ease-out;
}

.view-submenum .menum-container {
  transform: translateX(-100%);
}

.mobilemenu ul {
  margin-top: 0px;
  position: absolute;
  top: 0px;
  padding: 0px;
  width: 100%;
  height: calc(568px - 60px);
  background-color: #50705b;
  border: 1px solid #728b78;
  list-style-type: none;
}

.mobilemenu li a {
  opacity: 1;
  display: block;
  margin: 0px 45px 0% 45px;
  padding: 10px 10px 10px 10px;
  position: relative;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  color: #f7f3e7;
  background-color: #50705b;
  border: 1px solid #728b78;
  transition: opacity 0.1s 0.1s ease-out, transform 0.1s 0.1s ease-out;
}

.mobilemenu li a:hover {
  font-weight: bold;
}

.mobilemenu li.has-children:hover span:after {
  font-weight: bold;
  border-bottom: 2px solid #f7f3e7;
  border-right: 2px solid #f7f3e7;
}

li.has-children span {
  position: relative;
  margin: auto;
}

li.has-children span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  margin: auto;
  padding: 4px;
  width: 0px;
  height: 0px;
  cursor: pointer;
  font-size: 0;
  border-bottom: 1px solid #f7f3e7;
  border-right: 1px solid #f7f3e7;
  transform: rotate(135deg);
}

.menum {
  opacity: 0;
  transition: background-color 0.01s ease-out, opacity 0.01s ease-out;
}

.menum.is-visible {
  opacity: 1;
}

.menum.is-visible li a {
  opacity: 1;
  transform: translateY(0);
}

.view-submenum .menum {
  background-color: #50705b;
}

.submenum {
  position: absolute;
  top: 10%;
  left: 100%;
  background-color: #ce2424;
}

.submenum li {
  margin-left: 60px;
}

.hide-submenum {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
  height: calc(568px - 300px);
  cursor: pointer;
  background-color: #50705b;
  border: 1px solid #728b78;
  margin: 0px;
  transition: background-color 0.1s ease-out;
}

.hide-submenum:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  margin: auto;
  padding: 4px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  font-size: 0;
  border-bottom: 1px solid #f7f3e7;
  border-right: 1px solid #f7f3e7;
  transform: rotate(-45deg);
  left: 0;
  right: 0px;
  transition: opacity 0.1s ease-out;
}

.view-submenum .hide-submenum:hover {
  background-color: #50705b;
}

.view-submenum .hide-submenum:hover:before {
  border-bottom: 2px solid #f7f3e7;
  border-right: 2px solid #f7f3e7;
}

.view-submenum .hide-submenum:before {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 5%;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.toggle span {
  position: relative;
  align-self: center;
  font-size: 0;
  width: 26px;
  height: 2px;
  background-color: #f7f3e7;
  border-radius: 100px;
  transition: background-color 0.2s ease-out;
}

.toggle span:before,
.toggle span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f3e7;
  border-radius: 100px;
  transition: transform .1s ease-out;
}

.toggle span:before {
  bottom: calc(100% + 6px);
}

.toggle span:after {
  top: calc(100% + 6px);
}

.is-visible .toggle span {
  background-color: transparent;
}

.is-visible .toggle span:before {
  bottom: auto;
  transform: rotate(45deg);
}

.is-visible .toggle span:after {
  top: auto;
  transform: rotate(-45deg);
}

.visually-hidden { /*i dont understand the purpose of this?*/
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#logo-m {
  display: inline-block;
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  vertical-align: middle;
  margin-right: 10%;
  z-index: 1000;
}

.size-m {
  max-width: 80%;
  height: auto;
}

/*breakpoint for padding on meduim width screen*/
@media (min-width: 800px) and (max-width: 1015px) {
  #header {
    padding-left: 20px;
    padding-right: 20px;
  }

  #menubar {
    padding-left: 20px;
    padding-right: 20px;
  }

  #block-main{
    padding-left: 20px;
    padding-right: 20px;
  }

  }

@media (min-width: 800px) and (max-width: 846px) {
  #menubar {
    font-size: 12px;
  }
}